---
layout: layouts/home.njk
pageClass: home
eleventyNavigation:
  key: Home
  order: 1
---

<p>My name is Jorge.</p>

<p>I’m a Senior UI designer and developer and I also lead a team of designers. I work with cross-functional teams to build stuff for the web.</p>
