---
layout: layouts/home.njk
pageClass: home
eleventyNavigation:
  key: Home
  order: 1
---

<p>My name is Jorge.</p>

<p>I’m a lead UI designer and front-end developer that works with teams to build stuff for the web.</p>
