<ol reversed class="postlist">
{% for post in postslist | reverse %}
	<li class="postlist-item{% if post.url == url %} postlist-item-active{% endif %}">
		<a href="{{ post.url }}" class="postlist-link">{% if post.data.title %}{{ post.data.title }}{% else %}<code>{{ post.url }}</code>{% endif %}</a>
		
		{# Posts may have dates, but work samples only have a year #}
		{% if post.data.year %}
			<time class="postlist-date" datetime="{{ post.data.year }}">{{ post.data.year }}</time>
		{% elseif post.date %}
			<time class="postlist-date" datetime="{{ post.date | htmlDateString }}">{{ post.date | readableDate("LLLL yyyy") }}</time>
		{% endif %}
	</li>
{% endfor %}
</ol>
